<div class="">
    <div class="grid">
        <label for="title">Title</label>
        <input type="text" id="title" placeholder="Title" name="title">
    </div>
    <div class="grid">
        <label for="description">Description</label>
        <textarea name="description" id="description" cols="30" rows="10" placeholder="Description"></textarea>
    </div>
    <div class="grid">
        <label for="markdown">Markdown</label>
        <input type="text" id="markdown" placeholder="Markdown" name="markdown">
    </div>

    <div class="">
<a href="/" class="inline-block px-5 py-3 bg-gray-500 text-white rounded-lg">Cancel</a>
        <button type="submit" class="inline-block px-5 py-3 bg-blue-500 text-white rounded-lg">Save</button>
    </div>
</div>